VITE_API_URL=https://api.petfolioo.com/api/v1
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=petroll-production.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=petroll-production
VITE_FIREBASE_STORAGE_BUCKET=petroll-production-assets
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
